h1{
    text-align: center;
    
}

.imagem1 img{
    height: auto;
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

body{
    background-color: blue;
}

.imagem2 img{
    height: auto;
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.imagem3 img{
    width: 200px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.imagem1, .imagem2, .imagem3 {
    display: inline-block; 
    margin-right: 20px;    
    justify-content: center;
}
